<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>PROZapp</title>
</head>

<body>

    <!-- div generale a cui agganciare VUE  -->
    
    <div id="app">
        
        <div class="main">

            <div class="back-topbar"></div>

            <div class="main-app">

                <!-- parte sinistra della chat -->
                <div class="side left-side-bar">
                    <div class="bar top-bar">
                        <div class="left-box">

                            <div class="avatar io">
                                <img src="img/avatar_io.jpg" alt="">
                                <span id="user">Daniele Petrollo</span>
                            </div>

                            <div class="commands">
                                <li><i class="fa-solid fa-circle-notch"></i></li>
                                <li><i class="fa-solid fa-message"></i></li>
                                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            </div>
                        </div>

                    </div>
                    <div class="chat-cotainer">
                        <div class="box-65 notification"></div>

                        <!-- search box -->
                        
                            <input type="text" v-model="textSearch" placeholder="cerca chat">
                            
                            <div class="box-65 chat" v-for="(contact , index) in filterProductsByName"
                                :class="index === activeChat ? 'active' : ''" @click="changeChat(index)">


                                <div class="avatar">
                                    <img :src="contact.avatar" alt="">
                                </div>

                                <div class="name">

                                    {{ contact.name }}

                                    <span class="last-msg" v-for="(msg,index) in contact.messages">

                                        <span v-if="index === 0">
                                            {{ msg.message }}
                                        </span>

                                    </span>
                                </div>

                                <!-- <div class="msg-time" v-for="(time,index) in contact.messages">
                                <span v-if="index === 0">
                                    {{ time.date }}
                                </span>
                            </div> -->

                            </div>
                   
                    </div>
                </div>


                <!-- parte destra della chat -->

                <div class="side right-side-bar">

                    <div class="avatar bar top-bar flex">
                        <img :src="contacts[activeChat].avatar" alt="1" />
                        <span class="chat-user-open">
                            <span>{{ contacts[activeChat].name }}</span>
                            <span class="last-msg">ultimo accesso di recente</span>
                        </span>
                    </div>


                    <div class="chat-live" v-for="msg in contacts[activeChat].messages">
                        <div class="msg" :class="msg.status === 'sent' ? 'sent' : 'received'">
                            {{ msg.message }}
                        </div>
                    </div>


                    <div class="bar chat-bar">
                        <div>
                            <i class="fa-regular fa-face-smile"></i>
                        </div>

                        <div class="input-txt">
                            <input class="send-msg" type="text" v-model="myMsg" @keyup.enter="sendMsg(activeChat)"
                                placeholder="Scrivi un messaggio">
                        </div>

                        <div>
                            <i class="fa-solid fa-microphone"></i>
                        </div>

                    </div>

                </div>


            </div>

        </div>
    
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>

</html>