<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>PROZapp</title>
</head>

<body>

    <!-- div generale a cui agganciare VUE  -->
    <div id="app">

        <div class="main">

            <div class="back-topbar"></div>

            <div class="main-app">

                <div class="bar top-bar">
                    <div class="left-box">

                        <div class="avatar io">
                            <img src="img/avatar_io.jpg" alt="">
                            <span id="user">Daniele Petrollo</span>
                        </div>

                        <div class="commands">
                            <li><i class="fa-solid fa-circle-notch"></i></li>
                            <li><i class="fa-solid fa-message"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            
                        </div>


                    </div>
                    <div class="right">

                    </div>
                </div>

                <div class="side left-side-bar">

                    <div class="chat-cotainer">
                        <div class="box-65 notification"></div>

                        <!-- search box -->

                        <div class="box-65 chat" v-for="(contact , index) in contacts">

                            <div class="avatar">
                                <img :src="contact.avatar" alt="">
                            </div>

                            <div class="name">

                                {{ contact.name }}

                                <span class="last-msg" v-for="(msg,index) in contact.messages">

                                    <span v-if="index === 0">
                                        {{ msg.message }}
                                    </span>

                                </span>
                            </div>

                            <!-- <div class="msg-time" v-for="(time,index) in contact.messages">
                                <span v-if="index === 0">
                                    {{ time.date }}
                                </span>
                            </div> -->

                        </div>

                    </div>
                </div>

                <div class="side right-side-bar">

                    <div class="bar chat-bar"></div>

                </div>



            </div>

        </div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>

</html>